@model LuckysDepartmentStore.Models.ViewModels.Product.ProductDetailVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
    <!-- Ensure these scripts are included for client-side validation -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

    <style>
        .image-container {
            width: 500px;
            height: 500px;
            border-radius: 10%;
            margin:15px;
        }           
    </style>
</head>
<h1>Product Detail</h1>

<hr />

    @Html.AntiForgeryToken()

    <div class="row">
        <image src="@Model.ProductImage" id="ProductPicture" name="ProductPicture" class="image-container">
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <span class="form-control">@Model.ProductName</span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <span class="form-control">@Model.Description</span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <span class="form-control">@Model.Price</span>
            </div>
        </div>
        <div class="col-md-8">

            <input type="hidden" id="ColorID" name="ColorID">
            <input type="hidden" id="CategoryID" name="CategoryID" value="@Model.CategoryID">
            <input type="hidden" id="SubCategoryID" name="SubCategoryID" value="@Model.SubCategoryID">
            <input type="hidden" id="BrandID" name="BrandID" value="@Model.BrandID">
            <input type="hidden" id="ProductID" name="ProductID" value="@Model.ProductID">
            <input type="hidden" id="DiscountID" name="DiscountID" value="@Model.DiscountID">


            <div class="dropdown">
                <label asp-for="Category">Category</label>
                <input asp-for="CategorySelection" type="text" class="form-control dropdown-toggle" id="Category" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Select or type" autocomplete="off">
                <span asp-validation-for="CategorySelection" class="text-danger"></span>
                <ul class="dropdown-menu" aria-labelledby="Category">
                    @if (Model.Category != null)
                    {
                        @foreach (var color in Model.Category)
                        {
                            <li><a class="dropdown-item" data-stored-value="@color.CategoryID">@color.CategoryName</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="dropdown">
                <label asp-for="SubCategory">SubCategory</label>
                <input asp-for="SubCategorySelection" type="text" class="form-control dropdown-toggle" id="SubCategory" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Select or type" autocomplete="off">
                <span asp-validation-for="SubCategorySelection" class="text-danger"></span>
                <ul class="dropdown-menu" aria-labelledby="SubCategory" name="color">
                    @if (Model.SubCategory != null)
                    {
                        @foreach (var color in Model.SubCategory)
                        {
                            <li><a class="dropdown-item" data-stored-value="@color.SubCategoryID">@color.SubCategoryName</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="dropdown">
                <label asp-for="Brand">Brand</label>
                <input asp-for="BrandSelection" type="text" class="form-control dropdown-toggle" id="Brand" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Select or type" autocomplete="off">
                <span asp-validation-for="BrandSelection" class="text-danger"></span>
                <ul class="dropdown-menu" aria-labelledby="Brand">
                    @if (Model.Brand != null)
                    {
                        @foreach (var color in Model.Brand)
                        {
                            <li><a class="dropdown-item" data-stored-value="@color.BrandId">@color.BrandName</a></li>
                        }
                    }
                </ul>
            </div>
        
        </div>
    </div>
<div class="scrollable-section mt-2" id="dynamicList">
    @Html.Partial("_DynamicPartialListDetail", Model)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
