<!DOCTYPE html>
<html>
@model LuckysDepartmentStore.Models.ViewModels.Home.ItemVM
@{
    ViewData["Title"] = "Item";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Column Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

    <body>
        <div class="container">
            <div class="d-flex flex-row w-100">              

                <img src="@Model.ProductImage" id="ProductImage" name="ProductImage" class="image-fluid image-containerItem item" alt="Product Image">

                <div class="d-flex flex-column">
                    <div class="p-2 text-black">
                        <h1>@Model.BrandSelection</h1>
                        <h3>@Model.ProductName</h3>
                        <div>
                            @Model.Description
                        </div>
                    </div>
                    <div class="p-2 text-black">

                        @if(Model.RatingsCount !=0){
                            <p>
                                <i class="fa-solid fa-star"></i> 
                                <span>
                                    @string.Format("{0:F1}", @Model.Stars)                         
                                </span>
                    
                                (@Model.RatingsCount)
                            </p>
                        }
                        else
                        {
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <span>
                                    No reviews yet
                                </span>
                            </p>
                    
                        }


                    </div>
                    <div class="text-black">

                    @if(Model.DiscountAmount != 0 && Model.DiscountPercent != 0 )
                    {
                        <span>
                            @string.Format("{0:C}",@Model.Price)
                        </span>
                    }
                    else
                    {
                        
                        <div style="padding-top:5px;">


                            <p class="card-text" style="text-decoration: line-through;">@string.Format("{0:C2}", @Model.Price)</p>
                            <p>
                                 Discount:
                                 @if (@Model.DiscountAmount != null && @Model.DiscountAmount > 0)
                                 {
                                    <span>-@Model.DiscountAmount</span>
                                 }
                                @if (@Model.DiscountPercent != null && @Model.DiscountPercent > 0)
                                 {
                                     <span>@string.Format("{0:0}%", @Model.DiscountPercent * 100)</span>
                                 }
                             </p>
                            <p>Sale Price: <span class="card-text" style="color: red;">@string.Format("{0:C2}", @Model.SalePrice)</span></p>
                        </div>
                    }
                    </div>
                    <span class="pt-2">Size</span>
                    <div class="pl-2 pb-2 text-white" id="sizesContainer">
            
                    
                    </div>

                    <span class="pt-2">Color</span>
                <div id="ColorsContainer" class="pl-2">
                    @if (Model.ColorProduct != null && @Model.Color != null)
                    {
                        @for (var x = 0; x < @Model.Color.Count; x++)
                        {
                            <input type="radio" class="btn-check options-radio" value="@Model.ColorProduct[x].ColorID" name="options" id="option@(x)" autocomplete="off" @(x == 0 ? "checked" : "")>
                            <label class="btn gold-btn" for="option@(x)">@Model.ColorProduct[x].Name</label>
                        }
                    }
                </div>


                    <form id="addToCartForm" asp-controller="ShoppingCart" asp-action="AddToCart" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" id="ProductID" name="ProductID" value="@Model.ProductID">
                        <input type="hidden" id="Price" name="Price" value="@Model.Price">
                        <input type="hidden" id="ColorSelection" name="ColorSelection" value="@Model.ColorSelection">
                        <input type="hidden" id="SizeSelection" name="SizeSelection" value="@Model.SizeSelection">
                        <input type="hidden" id="ProductImage" name="ProductImage" value="@Model.ProductImage">
                        <input type="hidden" id="ProductName" name="ProductName" value="@Model.ProductName">
                    <input type="hidden" name="ColorID" id="ColorID" value="@Model.ColorProduct[0].ColorID" />

                        <div class="p-1">
                    
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" type="number" class="form-control" id="Quantity" />

                        </div>
                        <div class="p-2 text-white">
                            <input type="submit" id="addToCartButton" value="Add To Cart" class="btn btn-info mt-1 w-100" style="background-color: gold" />
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
    <script>
        $(document).ready(function () {
            $('.options-radio').change(function (event) {
                updateSizes(event);
            });

            updateSizes();

            function updateSizes(event){

                var selectedRadio = event ? $(event.target) : $('.options-radio:checked');
                var selectedRadioId = selectedRadio.attr('id');

                var colorSelected = $('label[for="' + selectedRadioId + '"]').text();

                console.log(colorSelected + " this " + selectedRadioId);
                var objectArray = [];

                @foreach (var colorProduct in Model.ColorProduct)
                {
                    <text>
                        objectArray.push({
                        Name: "@colorProduct.Name",
                        SizeID: @colorProduct.SizeID,
                        SizeName: "@colorProduct.SizeName",
                        Quantity: @colorProduct.Quantity,
                        ColorProductID: @colorProduct.ColorProductID,
                        ProductID: @colorProduct.ProductID,
                        ColorID: @colorProduct.ColorID,
                        SelectedColor: colorSelected
                    });
                    </text>
                }

                $.ajax({
                    url: '@Url.Action("GetSizeButtons", "Home")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(objectArray),
                    success: function (response) {
                        $('#sizesContainer').html(response);
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        alert('Error sending array of objects.' + errorMessage);
                    }
                });
            }

            $("#sizesContainer").on("click", "#sizes", function (e) {
                e.preventDefault();
                var index = $(this).data("index");
                var sizeID = $(this).data("sizeid");
                $("#SizeSelection").val(sizeID);
                // Remove 'selected' class from all buttons 
                $("#sizesContainer .size-button").removeClass("selected"); // Add 'selected' class to the clicked button 
                $(this).addClass("selected");
               


            });
            document.querySelectorAll('input[name="options"]').forEach((elem) => {
             
                elem.addEventListener("change", function (event) {    
                document.getElementById("ColorSelection").value = event.target.value;
                });
            });
        });
    </script>

