@model IEnumerable<LuckysDepartmentStore.Models.ViewModels.Product.ProductVM>

<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">       
</head>
<body>
        <h1 class="big-header">Discounts</h1>        

        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {                    
                    <div class="col-md-4 mb-4">
                        <div class="card">

                            <div class = "image-box">
                                <a asp-action="Item" asp-route-productId="@product.ProductID">
                                    <img src="@product.ProductImage" id="ProductImage" name="ProductImage" class="img-fluid image-container" alt="Product Image">
                                </a>
                            </div>

                            <div class="card-text-container">
                                <div style="padding-left:10px">
                                    <h5 class="card-title">@product.ProductName </h5>
                                    <p class="card-text">
                                        @product.Description
                                    </p>
                                    <p class="card-text">@string.Format("{0:C2}",@product.Price)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>    
</body>
</html>