@model LuckysDepartmentStore.Models.ViewModels.Product.ProductDetailVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul>

    @if (Model != null)
    {

        @for (int i = 0; i < Model.ColorProduct.Count; i++)
        {
            <li id="item-@i">               
                <label for="Name">Name</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].Name, new { @readonly = "readonly" })

                <label for="Quantity">Quantity</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].Quantity, new { @readonly = "readonly" })

                <label for="SizeName">SizeName</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].SizeName, new { @readonly = "readonly" })

                @Html.HiddenFor(model => @Model.ColorProduct[i].ColorProductID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model.ColorProduct[i].ProductID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model.ColorProduct[i].ColorID, new { @readonly = "readonly" })
            </li>
        }
    }
</ul>