@model IList<LuckysDepartmentStore.Models.ViewModels.Product.ColorProductVM>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul id="colorProductContainer">

    @if (Model != null)
    {

        @for (int i = 0; i < Model.Count; i++)
        {
            <li id="item-@i">
                
                <label for="Name">Name</label>
                @Html.TextBoxFor(model => @Model[i].Name, new { @readonly = "readonly" })

                <label for="Quantity">Quantity</label>
                @Html.TextBoxFor(model => @Model[i].Quantity, new { @readonly = "readonly" })

                <label for="SizeName">Size</label>
                @Html.TextBoxFor(model => @Model[i].SizeName, new { @readonly = "readonly" })

                @Html.HiddenFor(model => @Model[i].ColorProductID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model[i].ProductID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model[i].SizeID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model[i].ColorID, new { @readonly = "readonly" })

                <button id="deleteColor" class="btn btn-danger" data-index="@i" data-model="@Model">Delete</button>              

            </li>
        }
    }
</ul>