@model LuckysDepartmentStore.Models.ViewModels.Product.ProductCreateVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 
    <ul>
      
    @if (Model != null)
    {
        @for (int i = 0; i < Model.ColorProduct.Count; i++)
        {
            <li id="item-@i">
                <label for="ColorID">ColorID</label>
                  
                <label for="Name">Name</label>                
                @Html.TextBoxFor(model => @Model.ColorProduct[i].Name, new { @readonly = "readonly" })               

                <label for="Quantity">Quantity</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].Quantity, new { @readonly = "readonly" })

                <label for="SizeName">Size</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].SizeName, new { @readonly = "readonly" })

                @Html.HiddenFor(model => @Model.ColorProduct[i].SizeID, new { @readonly = "readonly" })
                @Html.HiddenFor(model => @Model.ColorProduct[i].ColorID, new { @readonly = "readonly" })

                <button id="deleteColor" class="btn btn-danger" data-index="@i">Delete</button>
            </li>
        }
    }
    </ul>

