@model LuckysDepartmentStore.Models.ViewModels.Product.ProductVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 
    <ul>
      
    @if (Model != null)
    {

        @for (int i = 0; i < Model.ColorProduct.Count; i++)
        {
            <li id="item-@i">
                <label for="ColorID">ColorID</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].ColorID, new { @readonly = "readonly" })               

                <label for="Name">Name</label>
                <input name="Name" type="text" value="@Model.ColorProduct[i].Name" readonly="readonly">

                <label for="Quantity">Quantity</label>
                @Html.TextBoxFor(model => @Model.ColorProduct[i].Quantity, new { @readonly = "readonly" })

                <button class="btn btn-danger delete-button" data-index="@i">Delete</button>
            </li>
        }
    }
    </ul>