<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LuckysDepartmentStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LuckysDepartmentStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"/> 

    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
</head>
<body>
    <header>
        <div class="row align-items-center bg-success bg-opacity-5">
            <div class="col-md-4">
                
            </div> <!-- Empty first column -->
            <div class="col-md-4 text-center">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/InUse/Luckys1.png" class="imgLayout my-1"></a>
            </div>
            <div class="col-md-3 text-end pe-3">
                <form class="d-flex" role="search" asp-action="SearchProduct" asp-controller="Home" method="get">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchString">
                    <button class="btn btn-primary" type="submit" value="search"> <i class="bi bi-search"></i></button>
                </form>
            </div>
            <div class="col-md-1">
                <span class="icon-container">

                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" class="no-underline">
                       <i class="bi bi-cart3 cart" style="color:black"> </i>               
                       <span class="badge" style="display:none; color:gold">0</span> <!-- This is the number overlay -->
               
                    </a>
                </span>
            </div>
        </div>
      
        <div class="row align-items-center bg-opacity-5">

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
                        <ul class="navbar-nav navbar-nav-scroll">                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Womens
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="GetProductsSearch" asp-route-subCategory="Womens">Women's Clothing</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="Womens">Pants</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Dress" asp-route-subCategory="Womens">Dresses</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Skirts" asp-route-subCategory="Womens">Skirts</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Socks" asp-route-subCategory="Womens">Socks</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Hats" asp-route-subCategory="Womens">Hats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Coats" asp-route-subCategory="Womens">Coats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Sweaters" asp-route-subCategory="Womens">Sweaters</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Tops" asp-route-subCategory="Womens">Tops</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Womens Active Wear">Active Wear</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Womens Outdoor Wear">Outdoor Wear</a></li>
                                             </ul>
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="GetProductsSearch" asp-route-name="Womens">Featured Brands</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Ralph Lauren">Ralph Lauren</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="GAP">GAP</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Calvin Klien">Calvin Klien</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Lucky Brand">Lucky Brand</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Guess">Guessn</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="J.Crew">J.Crew</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="H&M">H&M</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Zara">Zara</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Tommy Hilfiger" asp-route-subCategory="Womens">Tommy Hilfiger</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-4">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-discountTags="womens summer clothes"><img src="~/img/InUse/WomensSale.png" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                                 
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Men's
                                </a>

                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="GetProductsSearch" asp-route-subCategory="mens">Men's Clothing</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="mens">Pants</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="shorts" asp-route-subCategory="mens">Shorts</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="socks" asp-route-subCategory="mens">Socks</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="hats" asp-route-subCategory="mens">Hats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="coats" asp-route-subCategory="mens">Coats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="sweaters" asp-route-subCategory="mens">Sweaters</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens active wear" >Active Wear</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens outdoor wear" >Outdoor Wear</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens shaving supplies">Shaving Supplies</a></li>
                                            </ul>                                                  
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="GetProductsSearch" asp-route-subCategory="mens">Featured Brands</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Ralph Lauren">Ralph Lauren</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="GAP">GAP</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Calvin Klien">Calvin Klien</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Lucky Brand">Lucky Brand</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Guess">Guessn</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="J.Crew">J.Crew</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="H&M">H&M</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-brand="Zara">Zara</a></li>
                                            </ul>                              
                                            <ul class="list-unstyled col-md-4">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-subCategorySelection="discount men"><img src="~/img/InUse/55OffMens.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Kids
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="SearchDiscount" asp-route-subCategory="Girls">Girls Clothing</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="girls">Pants</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="dresses" asp-route-subCategory="girls">Dresses</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="skirts" asp-route-subCategory="girls">Skirts</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="socks" asp-route-subCategory="girls">Socks</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="hats" asp-route-subCategory="girls">Hats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="coats" asp-route-subCategory="girls">Coats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="sweaters" asp-route-subCategory="girls">Sweaters</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="tops" asp-route-subCategory="girls">Tops</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="girls active wear">Active Wear</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="girls outdoor wear">Outdoor Wear</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchDiscount" asp-route-subCategory="boys">Boys Clothing</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="boys">Pants</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="socks" asp-route-subCategory="boys">Socks</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="hats" asp-route-subCategory="boys">Hats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="coats" asp-route-subCategory="boys">Coats</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="sweaters" asp-route-subCategory="boys">Sweaters</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="active wear">Active Wear</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="outdoor wear">Outdoor Wear</a></li>
                                            </ul>                                                 
                                            <ul class="list-unstyled col-md-3">                   
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchDiscount" asp-route-subCategory="baby">Baby Clothing</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="baby boys">Baby Boy</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Pants" asp-route-subCategory="baby girls">Baby Girl</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Accessories" asp-route-searchString="baby">Accessories</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Shoes" asp-route-searchString="baby">Baby Shoes</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-searchString="kids summer clothes"><img src="~/img/InUse/55%OffKids.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Shoes
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="Search" asp-route-name="Womens">Womens Shoes</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="heals">Heals</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Womens sneakers">Sneakers</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Womens boots>Boots</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Womens sandels">Sandels</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="Search" asp-route-name="Womens">Mens Shoes</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens dress shoes">Dress Shoes</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens casual shoes">Casual Shoes</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens sneakers">Sneakers</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens boots">Boots</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens sandels">Sandels</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="Search" asp-route-name="Womens">Kids Shoes</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-route-category="Shoes" asp-route-searchString="baby ">Baby</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-route-category="Shoes" asp-route-searchString="boys ">Boys</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-route-category="Shoes" asp-route-searchString="girls ">Girls</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-route-brand="addidas"><img src="~/img/InUse/addidasShoeSale.jpg" class="imgLayoutSales my-1"></a>
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-route-brand="sketcher"><img src="~/img/InUse/sketcher.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Jewelry
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">                                            
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens jewelry">Womens</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="Womens ear rings">Ear Rings</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="Womens bracelets">Bracelets</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="Womens necklaces">Necklaces</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="Womens rings">Rings</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="Womens watches">Watches</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="mens jewelry">Mens</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="mens rings">Rings</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="mens necklaces">Necklaces</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Jewelry" asp-route-searchString="mens watches">Watches</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-4">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="SearchProduct" asp-route-subCategory="watches">Watches</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct"  asp-route-category="Watches" asp-route-subCategory="Womens">Womens</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct"  asp-route-category="Watches" asp-route-subCategory="mens">Mens</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct"  asp-route-searchString="kids watches">Kids</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-4">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-category="watches"><img src="~/img/InUse/jewelryWatch.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Electronics
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Electronics" asp-route-subCategory="TV">TV</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Electronics" asp-route-subCategory="TV">LED</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="OLED">OLED</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="QLED">QLED</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Electronics" asp-route-subCategory="Computers">Computers</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Tablet">Tablet</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Laptop">Laptop</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Desktop">Desktop</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Monitors">Monitors</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Printers">Printers</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="computer Accessories">Accessories</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><a class="dropdown-item menu-heading col" asp-controller="Home" asp-action="SearchProduct" asp-route-category="Electronics" asp-route-subCategory="Headphones">Headphones & Headsets</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Earbuds">Earbuds</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Wireless Headphones">Wireless Headphones</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-searchString="Noise Cancelling Headphones">Noise Cancelling Headphones</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-subCategory="speakers"><img src="~/img/InUse/speakers.jpg" class="imgLayoutSales my-1"></a>
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-searchString="discount headphones"><img src="~/img/InUse/headphones.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Housewares
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                          
                                            <ul class="list-unstyled col-md-6">
                                                <li><a class="dropdown-item menu-heading" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens">Pot and Pans</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens Pants">Pot and Pans</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens dresses">Measuring cups</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens skirts">Silverware</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens socks">Towels</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="SearchProduct" asp-route-name="Womens hats">Bed Sheets</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-6">
                                                <a asp-area="dropdown-item" asp-controller="Home" asp-action="SearchDiscount" asp-route-name="discount womens"><img src="~/img/InUse/housewareSales.jpg" class="imgLayoutSales my-1"></a>
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrator
                                </a>
                                <div class="dropdown-menu" style="position: fixed; left:0;">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-unstyled col-md-6">
                                                <li><label class="dropdown-item menu-heading">Administrative Functions</label></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Product"  asp-action="Index">Products</a></li>
                                                <li><a class="dropdown-item" asp-controller="Discount" asp-action="Index">Discount</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                   @*      <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> *@

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>


        </div>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LuckysDepartmentStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>$(document).ready(function () {   

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/CartHub")
            .build();
        connection.on("ReceiveCartCountUpdate", function (cartCount) {;
            const badge = document.querySelector('.badge')  
            badge.textContent = cartCount;
            badge.style.display = 'inline';
            console.log("cartCount list2");
        });

        connection.start().then(function () {
            console.log('Connection established.');
            connection.invoke("SendCartCountUpdate")
                .then(function () { console.log('Message sent successfully.'); })
                .catch(function (err) { return console.error(err.toString()); });
        }).catch(function (err) { return console.error(err.toString()); });

});
</script>