@using LuckysDepartmentStore.Models.ViewModels.Consumer
@model List<PaymentOptionsVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
  @*   <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">
 *@
</head>
  
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-md-12 mb-3" id="form-payment-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="SelectedPaymentOptionsID" id="@Model[i].PaymentOptionsID" value="@Model[i].PaymentOptionsID">
                    <label class="form-check-label" for="@Model[i].PaymentOptionsID">
                        <span>
                            @Model[i].FirstName
                        </span>
                        <span>
                            @Model[i].LastName 
                        </span>
                        <br />
                        <span>
                            @Model[i].BillingAddress1
                        </span>
                        @if (!string.IsNullOrEmpty(Model[i].BillingAddress2))
                        {
                            <span>
                                @Model[i].BillingAddress2 
                            </span>
                        }
                        <br />
                        <span>
                            @Model[i].City,
                        </span>
                        <span>
                            @Model[i].State
                        </span>
                        <span>
                            @Model[i].ZipCode
                        </span>
                        <br />
                        <span>
                            Account Number: @Model[i].AccountNumber 
                        </span>
                        <br />
                        <span>
                            CVC: @Model[i].CvcCode
                        </span>
                    </label>
                    <input type="hidden" name="PaymentOptions[@i].FirstName" value="@Model[i].FirstName" />
                    <input type="hidden" name="PaymentOptions[@i].LastName" value="@Model[i].LastName" />
                    <input type="hidden" name="PaymentOptions[@i].BillingAddress1" value="@Model[i].BillingAddress1" />
                    <input type="hidden" name="PaymentOptions[@i].BillingAddress2" value="@Model[i].BillingAddress2" />
                    <input type="hidden" name="PaymentOptions[@i].City" value="@Model[i].City" />
                    <input type="hidden" name="PaymentOptions[@i].State" value="@Model[i].State" />
                    <input type="hidden" name="PaymentOptions[@i].ZipCode" value="@Model[i].ZipCode" />
                    <input type="hidden" name="PaymentOptions[@i].AccountNumber" value="@Model[i].AccountNumber" />
                    <input type="hidden" name="PaymentOptions[@i].CvcCode" value="@Model[i].CvcCode" />
                    <input type="hidden" name="PaymentOptions[@i].PaymentOptionsID" value="@Model[i].PaymentOptionsID" />
                </div>
            </div>

        <div class="mb-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPaymentBackdrop"
                data-firstnameeditpay="@Model[i].FirstName" data-lastnameeditpay="@Model[i].LastName" data-billingaddress1editpay="@Model[i].BillingAddress1"
                data-billingaddress2editpay="@Model[i].BillingAddress2" data-cityeditpay="@Model[i].City" data-stateeditpay="@Model[i].State" data-zipcodeeditpay="@Model[i].ZipCode"
                data-accountnumbereditpay="@Model[i].AccountNumber" data-cvccodeeditpay="@Model[i].CvcCode" data-paymentoptionsid="@Model[i].PaymentOptionsID">
                Edit Payment Address
            </button>

            <button id="delete_@i" type="button" class="delete-btn-payment btn btn-primary" data-id="@Model[i].PaymentOptionsID">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editPaymentBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editPaymentBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editPaymentBackdropLabel">Edit Payment Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="FirstName">First Name</label>
                            <input name="FirstName" id="FirstNameEditPay" class="form-control">
                            <span class="text-danger" id="FirstNameError"></span>

                            <label for="LastName">Last Name</label>
                            <input name="LastName" id="LastNameEditPay" class="form-control">
                            <span class="text-danger" id="LastNameError"></span>

                            <label for="BillingAddress1">BillingAddress1</label>
                            <input name="BillingAddress1" id="BillingAddress1EditPay" class="form-control">
                            <span class="text-danger" id="BillingAddress1Error"></span>

                        <label for="BillingAddress2">BillingAddress2</label>
                        <input name="BillingAddress2" id="BillingAddress2EditPay" class="form-control">

                            <label for="City">City</label>
                            <input name="City" id="CityEditPay" class="form-control">
                            <span class="text-danger" id="CityError"></span>

                            <label for="State">State</label>
                            <input name="State" id="StateEditPay" class="form-control">
                            <span class="text-danger" id="StateError"></span>

                            <label for="ZipCode">ZipCode</label>
                            <input name="ZipCode" id="ZipCodeEditPay" class="form-control">
                            <span class="text-danger" id="ZipCodeError"></span>

                            <label for="AccountNumber">AccountNumber</label>
                            <input name="AccountNumber" id="AccountNumberEditPay" class="form-control">
                            <span class="text-danger" id="AccountNumberError"></span>

                            <label for="CvcCode">CvcCode</label>
                            <input name="CvcCode" id="CvcCodeEditPay" class="form-control">
                            <span class="text-danger" id="CvcCodeError"></span>

                            <input type="hidden" name="PaymentOptionsID" id="PaymentOptionsID" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveBtnPayment" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>



        }

