@using LuckysDepartmentStore.Models.ViewModels.Consumer
@model List<ShippingAddressVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
 @*    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script> *@

</head>


<div class="row">
    <div class="col-md-4">
        @for (int i=0; i < Model.Count; i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="SelectedShippingAddressID" id="shipping_@Model[i].ShippingAddressID" value="@Model[i].ShippingAddressID">
                <label class="form-check-label" for="shipping_@Model[i].ShippingAddressID">
                   <span>
                       @Model[i].FirstName
                   </span>
                    <span>
                        @Model[i].LastName
                    </span>
                    <span>
                        @Model[i].Address1
                    </span>

                    @if(!string.IsNullOrEmpty(Model[i].Address2))
                    {
                        <span>
                            @Model[i].Address2<br/>
                        </span>
                    }
                    <span>
                        @Model[i].City
                    </span>
                    <span>
                        @Model[i].State
                    </span>
                    <span>
                        @Model[i].ZipCode
                    </span>
                </label>
                <input type="hidden" name="ShippingAddresses[@i].FirstName" value="@Model[i].FirstName" />
                <input type="hidden" name="ShippingAddresses[@i].LastName" value="@Model[i].LastName" />
                <input type="hidden" name="ShippingAddresses[@i].Address1" value="@Model[i].Address1" />
                <input type="hidden" name="ShippingAddresses[@i].Address2" value="@Model[i].Address2" />
                <input type="hidden" name="ShippingAddresses[@i].City" value="@Model[i].City" />
                <input type="hidden" name="ShippingAddresses[@i].State" value="@Model[i].State" />
                <input type="hidden" name="ShippingAddresses[@i].ZipCode" value="@Model[i].ZipCode" />
                <input type="hidden" name="ShippingAddresses[@i].ShippingAddressID" value="@Model[i].ShippingAddressID" />
            </div>
        }     
    </div>
</div>

